@charset "utf-8";

:root {
    /* color */
    --primary-color: #002BD2;
    --border-color: #BCBCBC;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #555;
    --light-gray-color: #999;
    --red-color: #EE4130;
    /* typography */
    --large-font: 24px;
    --medium-font: 20px;
    --regular-font: 16px;
    --small-font: 13px;
    --extra-small-font: 12px;
    --title-small-font: 34px;
    --title-large-font: 50px;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}