@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}